<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools">

	<data>
        	<variable
            	name="viewModel"
           	type="${packageName}.core.view_models.${funcPackage}.${className}ViewModel"/>
	</data>

		<RelativeLayout
       		android:layout_width="match_parent"
      		android:layout_height="match_parent"
        	android:layout_margin="16dp">



		</RelativeLayout>

</layout>
